* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 4px;
}

header {
  text-align: center;
  background-color: rgb(246, 237, 237);
  padding: 16px 4px;
  border-bottom: 0.5px solid gray;
}

/*buttons*/
button {
  padding: 6px 16px;
  font-weight: 600;
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  margin: 8px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

button:hover {
  background-color: black;
  color: white;
}

label {
  font-weight: 600;
  padding-bottom: 2px;
}

input {
  padding: 2px;
}

section {
  padding: 10px 0;
}

/*hero*/
.heroSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(246, 237, 237);
}

.heroSection div {
  padding: 24px 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.heroSection p {
  text-align: center;
  max-width: 70%;
}

/*add new recipe form wrapper*/
.containerFormContent {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
}

.containerButton {
  margin-bottom: 18px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px 16px;
  border: 0.3px solid gray;
  align-items: center;
  box-shadow: 1px 1px 4px rgb(94, 89, 89);
}

/*form title*/
.containerForm h2 {
  padding: 12px 0 16px 0;
  text-align: center;
}

/*form */
.recForm {
  display: flex;
  flex-direction: column;
}

/*first section - title/description*/
.firstPart {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recipeTitle {
  display: flex;
  flex-direction: column;
}

.describe {
  display: flex;
  flex-direction: column;
}

/*ingredient section*/
.ingredientSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addButton {
  width: 50%;
  margin: 8px auto 0 auto;
}

/*add steps section*/
.addIng2 {
  display: flex;
  flex-direction: column;
}

#addStepBtn {
  width: 50%;
  margin: 12px auto 0 auto;
}

/*li steps/ingredients output*/
#ingredientOutput,
#stepsOutput {
  list-style-type: decimal;
  margin: 6px 0 6px 16px;
}

#ingredientOutput li,
#stepsOutput li {
  padding-bottom: 5px;
}

/*add img section*/
.uppLoadImg {
  display: flex;
  align-items: center;
}

#imgSrc {
  width: 150px;
  height: 150px;
}

#imageinput {
  max-width: fit-content;
}

#addRecipe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  width: 100%;
}

#addRecipeBtn {
  width: 100%;
}

/*recipe output*/
#recipeCardContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#recipeCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 24px;
}

.cardStyling {
  display: flex;
  flex-direction: column;
  margin: 14px 0;
  padding: 18px 32px;
  max-width: 600px;
  min-width: 360px;
  border: 0.5px solid rgb(182, 181, 181);
  gap: 4px;
  box-shadow: 1px 2px 2px gray;
  background-color: white;
}

.cardImgStyling {
  width: 280px;
  height: 280px;
  margin: 12px auto;
}

.cardIngredientsStyling li {
  list-style-type: decimal;
  margin: 4px 16px;
}

.cardStepsStyling li {
  list-style-type: decimal;
  margin: 4px 16px;
}

/*footer*/
footer {
  bottom: 0;
  padding: 16px;
  text-align: center;
  background-color: rgb(110, 107, 107);
  color: white;
  font-weight: 500;
  font-size: 14px;
}
